apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flask-mysql.fullname" . }}-mysql
  labels:
    app: {{ include "flask-mysql.name" . }}-mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "flask-mysql.name" . }}-mysql
  template:
    metadata:
      labels:
        app: {{ include "flask-mysql.name" . }}-mysql
    spec:
      containers:
      - name: mysql
        image: {{ .Values.mysql.image }}
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "flask-mysql.fullname" . }}-mysql-secret
              key: mysql-root-password
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              name: {{ include "flask-mysql.fullname" . }}-mysql-secret
              key: mysql-database
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              name: {{ include "flask-mysql.fullname" . }}-mysql-secret
              key: mysql-user
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "flask-mysql.fullname" . }}-mysql-secret
              key: mysql-password
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-data
        persistentVolumeClaim:
          claimName: {{ include "flask-mysql.fullname" . }}-mysql-pvc
