name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # Configure AWS credentials
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    # Log in to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build Docker image
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-hello-world:latest .

    # Trivy security scan
    - name: Run Trivy vulnerability scan
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/flask-hello-world:latest
        format: table
        exit-code: 0
        ignore-unfixed: true
        vuln-type: os,library
        severity: CRITICAL,HIGH

    # Push Docker image to Docker Hub
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-hello-world:latest

    # Update kubeconfig to connect to EKS
    - name: Update kubeconfig
      run: aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }}

   
    # Install Helm
    - name: Install Helm
      uses: azure/setup-helm@v4

    # Deploy using Helm
    - name: Deploy with Helm
      run: |
        helm upgrade --install flask-app ./helm/flask-app \
          --set image.repository=${{ secrets.DOCKERHUB_USERNAME }}/flask-hello-world \
          --set image.tag=latest

    # Argo CD sync
    - name: Sync Argo CD Application
      run: |
        kubectl apply -f argocd/flask-app.yaml
 
    # Test deployment
    - name: Test deployment
      run: kubectl get deployments -A

    # Get the NodePort URL
    - name: Get NodePort URL
      run: |
        NODE_PORT=$(kubectl get svc flask-service -o jsonpath='{.spec.ports[0].nodePort}')
        CLUSTER_NODES=$(kubectl get nodes -o jsonpath='{.items[0].status.addresses[?(@.type=="ExternalIP")].address}')
        echo "Flask app should be accessible at http://$CLUSTER_NODES:$NODE_PORT"
